body {
  background-image: url('../images/starwars-bg2.jpg');
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
}

h3, h4 {
  color: #3f51b5 !important;
}

.jumbotron img {
  width: 25%;
}

img {
  width: 60%;
}

progress {
  width: 50%;
}

.container {
  text-align: center;
}

.container2 {
  border-radius: 10px;
  background: rgba(255,255,255, 0.6);
  padding: 20px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.row {
  justify-content: center;
}

.jumbotron-fluid {
  background: inherit;
  text-align: center;
  color: #FFD700;
}

.hideContainer {
  display: none !important;
}

#game-message {
  background: rgba(255,255,255, 0.6);
  padding: 20px;
}
