body {
  background-image: url('../images/starwars-bg2.jpg');
  background-position: center top;
  background-size: auto;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
}
.jumbotron-fluid {
  background: inherit;
  text-align: center;
  color: #FFD700;
}
